@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url(rFont.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(font.ttf);
}

html, body {
	background-color: #FAFAFA;
	color: #0A0A0A;
	font-family: "Roboto";
	height: 100%;
	margin: 0px;
	width: 100%;
}

body {
	overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1 {
	font-size: 54px;
	margin: 0px;
	padding: 0.67em 0em;
}

h2 {
	font-size: 30px;
	margin: 0px;
	padding: 0.83em 0em;
}

.anim, .slide {
	transition-duration: 0.4s;
}

.centerizer {
	display: table;
	height: 100%;
	width: 100%;
}

.centerizer--auto-size {
	height: auto;
	width: auto;
}

.centerizer-content {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.circle {
	background-color: #E0E0E0;
	border-radius: 50%;
	display: inline-table;
	padding: 24px;
}

.circle h1 {
	font-size: 30px;
	margin: 0px;
}

.circle-how {
	height: 240px;
	width: 240px;
}

.circle-why {
	height: 180px;
	width: 180px;
}

.rale {
	font-family: 'Raleway';
}

.slide {
	height: 100%;
	width: 100%;
}

.slide--done {
	opacity: 0;
}

#slide1 h1 {
	font-size: 48px;
}

#slide3 h2 {
	letter-spacing: 4px;
}

#slide3 .hidden {
	opacity: 0;
}

#slide4 h2 {
	letter-spacing: 6px;
}

#slide4 h3 {
	font-size: 24px;
}

#slide4 .table {
	display: inline-table;
}

#slide4 .table .cell {
	display: table-cell;
	padding: 0px 12px;
}

#slide4 #cell1 .outerBox {
	overflow-x: hidden;
	width: 700px;
}

#slide4 #cell1 .innerBox {
	width: 700px;
}

#slide4 #cell2 {
	opacity: 0;
	text-align: left;
	transform: translateY(-30px);
}

#slide4 #cell2 .outerBox {
	overflow-x: hidden;
	width: 0px;
}

#slide4 #cell2 .innerBox {
	width: 184px;
}

#slide4.changed h2 {
	opacity: 0;
}

#slide4.changed #cell2 {
	opacity: 1;
}

#slide4.changed  #cell1 .outerBox {
	width: 170px;
}

#slide4.changed #cell2 .outerBox {
	width: 184px;
}